#pos-topLeft .dateTime{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    
}

#pos-topLeft .timeText{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 75px;
    margin: 0;
    color: #BBBBBB;
    display: inline;
}

#pos-topLeft .ampm{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin: 0;
    color: #DDDDDD;
    display: inline;  
}

